@model SistemaDeMonitoramento.Models.Ambientes

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja excluir este ambiente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aparelho.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aparelho.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AmbienteId" />
        <input type="submit" value="Excluir" class="btn btn-danger btn-sm"/> |
        <a asp-action="Index" class="btn btn-warning btn-lg active btn-sm" role="button" aria-pressed="true">Cancelar</a>
    </form>
</div>
