@model IEnumerable<SistemaDeMonitoramento.Models.ResidenciasUsuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Registrados</h1>

<p>
    <a asp-action="Create" class="btn btn-dark btn-lg active btn-sm" role="button" aria-pressed="true">Registrar</a>
</p>
<table class="table table-hover table-dark">
    <thead class="thead">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Residencia)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residencia.CEP)
            </td>
            
        </tr>
}
    </tbody>
</table>
